.siteHeader {
    display: flex;
    justify-content: space-between;
}

.siteHeader .navBar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}
.siteHeader .navBar ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #4e4e4e;
    display: block;
    padding: 25px 15px;
}
:global(.dark) .siteHeader .navBar ul li a{
    color: #fff;
}
.siteHeader .navBar ul li a:hover {
    color: #FF6634;
}
.changeColor {
    border: none;
    padding: 10px 38px;
    background-color: transparent;
    background-color: #ff6634;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
}