
.heroSection {
    width: 100%;
    height: calc(100vh - 100px );
    overflow: hidden;
    position: relative;
    
}
.heroSection:before{
    content: "";
    background: url(./particle.svg);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;
}
.heading {
font-weight: bold;
font-size: 49px;
text-align: center;
color: #000;
margin: 0;
}
.subHeading {
font-weight: 300;
font-size: 18px;
text-align: center;
color: #3b3b3b;
margin: 0;
margin-top: 10px;

}
.titleSection {
    margin: 50px auto;
}
:global(.dark) .titleSection .subHeading , :global(.dark) .titleSection .heading {
    color: #fff;
}
:global(.dark) .icon > g ellipse {
    opacity: .1;
}
.icon {
    position: relative;
    top: -60px;
    z-index: -1;
}